<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
      <title>OpenhourSearchMap</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <script 
        type="text/javascript" 
        src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=7afhzbz5fc">
      </script>
      <script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous">
      </script>
      <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1fd762278d424d787ce45267981a5904&libraries=services"></script>
  </head>

  <body>
    <div id="navbar">Openhour Search Map</div>
    <div id="search">
      <input id="search_input" size=12/>
      <button id="search_button">검색</button>
    </div>

    <div id="select">
        <select  style="font-size:16px;">
          <option value = "18:00" selected>18:00</option>
          <option value = "19:00" selected>19:00</option>
          <option value = "20:00" selected>20:00</option>
          <option value = "21:00" selected>21:00</option>
          <option value = "22:00" selected>22:00</option>
          <option value = "23:00" selected>23:00</option>
          <option value = "24:00" selected>24:00</option>
        </select>
        <div>
          <div class="isopening" style="font-size:14px;"">
            영업중 
          </div>
          <div class="isopening_marker">
          </div>
        </div>
      </div>

  
    <div id="location1">성수</div>
    <div id="location2">강남</div>         
    <div id="map" style="width:100%;height:100vh;"></div>
    <script type="text/javascript" src="/data/data.js"></script>

    <script>
      var sungsu = new naver.maps.LatLng(37.547384, 127.041258)
      var gangnam = new naver.maps.LatLng(37.502745, 127.027080) 
      var junggok = new naver.maps.LatLng(37.558260, 127.084437) 
      var bundang = new naver.maps.LatLng(37.3595704, 127.105399)

      var mapOptions = {
        center: sungsu,
        zoom: 16
      };
      var map = new naver.maps.Map("map", mapOptions);

      var markerList = [];
      var infowindowList = [];

      for (var i in data) {    
        var target = data[i];
        var latlng = new naver.maps.LatLng(target.lat, target.lng);
        
        marker = new naver.maps.Marker({
          map: map,
          position: latlng,
          icon: {
            content: "<div class='marker'></div>",
            anchor: new naver.maps.Point(12,12)
          },
        });

        var content = `<div class='infowindow_wrap'>
            <div class='infowindow_title'><a href=${target.moreview} style="color:#0068C3" target="_blank">${target.title}</a></div>
            <div class='infowindow_openhour'>${target.openhour}</div>
          </div>`

        var infowindow = new naver.maps.InfoWindow({        
          content: content,
          backgroundColor: "#00ff0000",
          borderColor: "#00ff0000",
          anchorSize: new naver.maps.Size(0,0)
        })

        markerList.push(marker);
        infowindowList.push(infowindow);
       }              
        
          for (var i = 0, ii = markerList.length; i < ii; i++) {
          naver.maps.Event.addListener(map, "click", ClickMap(i));
          naver.maps.Event.addListener(markerList[i], "click", getClickHandler(i));
        }

        function ClickMap(i) {
          return function() {
            var infowindow = infowindowList[i];
            infowindow.close();
          }
        }

        function getClickHandler(i) {
          return function() {
            var marker = markerList[i];
            var infowindow = infowindowList[i];
            if (infowindow.getMap()) {
              infowindow.close();
            } else {
              infowindow.open(map, marker)
            }
          }        
        }    
      
            
      $("#select").on("change",function(e){
        let keyword = $("#select option:selected").val();
        const hkeyword = Number(keyword.slice(0,2)); 
        for (var i in data) { 
          var target = data[i]
          var openhour = target.openhour
          var endhour = Number(target.openhour.slice(-5, openhour.length).slice(0,2))
          
          if(endhour >= hkeyword || endhour <= 12){
            var latlng = new naver.maps.LatLng(target.lat, target.lng);          
            marker = new naver.maps.Marker({
              position: latlng,
              map: map,
              icon: {
                content: "<div class='openhour_marker'></div>",
                anchor: new naver.maps.Point(12,12)
              },
            });
            
          var content = `<div class='infowindow_wrap'>
            <div class='infowindow_title'><a href=${target.moreview} style="color:#0068C3);  " target="_blank">${target.title}</a></div>
            <div class='infowindow_openhour'>${target.openhour}</div>
          </div>`


          var infowindow = new naver.maps.InfoWindow({
            content: content,
            backgroundColor: "#00ff0000",
            borderColor: "#00ff0000",
            anchorSize: new naver.maps.Size(0,0)
          })
          markerList.push(marker);
          infowindowList.push(infowindow);
         } else {
            var latlng = new naver.maps.LatLng(target.lat, target.lng);          
              marker = new naver.maps.Marker({
                position: latlng,
                map: map,
                icon: {
                  content: "<div class='closehour_marker'></div>",
                  anchor: new naver.maps.Point(12,12)
                },
              });
              
            var content = `<div class='infowindow_wrap'>
              <div class='infowindow_title'><a href=${target.moreview} style="color:#0068C3;  " target="_blank">${target.title}</a></div>
              <div class='infowindow_openhour'>${target.openhour}</div>
            </div>`

            var infowindow = new naver.maps.InfoWindow({
              content: content,
              backgroundColor: "#00ff0000",
              borderColor: "#00ff0000",
              anchorSize: new naver.maps.Size(0,0)
            })
            markerList.push(marker);
            infowindowList.push(infowindow);
         }
        }      
        for (var i = 0, ii = markerList.length; i < ii; i++) {
          naver.maps.Event.addListener(map, "click", ClickMap(i));
          naver.maps.Event.addListener(markerList[i], "click", getClickHandler(i));
        }

        function ClickMap(i) {
          return function() {
            var infowindow = infowindowList[i];
            infowindow.close();
          }
        }

        function getClickHandler(i) {
          return function() {
            var marker = markerList[i];
            var infowindow = infowindowList[i];
            if (infowindow.getMap()) {
              infowindow.close();
            } else {
              infowindow.open(map, marker)
            }
          }        
        } 
      
      });

      $("#location1").click(() => {
        map.setZoom(17, false);
        map.panTo(sungsu);
      })

      $("#location2").click(() => {
        map.setZoom(17, false);
        map.panTo(gangnam);
      })

      let ps = new kakao.maps.services.Places();
      let search_all_ehList = []

      $("#search_input").on("keydown",function(e){
        if (e.keyCode === 13) {
          let content = $(this).val();
          ps.keywordSearch(content,placeSearchCB);
        }
      })

      $("#search_button").on("click", function(e){
        let content = $("#search_input").val()
        ps.keywordSearch(content,placeSearchCB);
      })

      let dataList = [];
      function placeSearchCB(data,status,pagination) {
        if(status === kakao.maps.services.Status.OK) {
          dataList.push(...data)
          console.log(dataList)
          pagination.nextPage()

          let target = data[0]
          const lat = target.y;
          const lng = target.x;
          const latlng = new naver.maps.LatLng(lat, lng);
          marker = new naver.maps.Marker({
            position: latlng,
            map: map
          })       
          if (search_all_ehList.length == 0) {
            search_all_ehList.push(marker) //생성된 마커를 배열에 추가
          } else {
            search_all_ehList.push(marker)
            let pre_marker = search_all_ehList.splice(0,1);
            pre_marker[0].setMap(null);
          }

          var iwContent = `<div class='searchiw_wrap'>
            <div class='searchiw_title'><a href =${target.place_url} style="color:#0068C3" target="_blank">${target.place_name}</a></div>
            <div class='searchiw_address'>${target.road_address_name}</div>
          </div>`
        
          var iw = new naver.maps.InfoWindow({
                    content: iwContent,
                    maxWidth: 240,
                    backgroundColor: "white",
                    borderColor: "white",                 
                    borderWidth: 1,
                    anchorSize: new naver.maps.Size(15, 15),
                    anchorSkew: true,
                    anchorColor: "white",
                    pixelOffset: new naver.maps.Point(20, -20)
                }); 
                    
          naver.maps.Event.addListener(marker, "click", function(e) {
              if (iw.getMap()) {
                  iw.close();
              } else {      
                iw.open(map, marker);              
              }            
          });
                  
          map.setZoom(16, false);
          map.panTo(latlng);

        } else {
          alert("검색결과가 없습니다.")
        }
      }

    </script>
  </body>
</html>