body {
  padding: 0px !important;
  margin: 0px !important;
}

#navbar {
  height : 50px;  
  width: 100%;  
  background : #262626;  
  color: white;
  font-weight: bolder;
  font-size: 25px;  
  display: flex;
  justify-content: center;
  align-items: center;
  }

#current {
  position: absolute;
  top: 60px;
  z-index: 10000;
  background: white;
  left: 20px;
  padding: 20px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  font-weight: bolder;
}

.marker {
  border: 3px ridge #dfdfdf;
  background : #ffffff;
   /* #33ff81; */
  opacity: 0.7;
  width: 8px;
  height: 8px;
  border-radius: 100%;
}

.openhour_marker {
  border: 3px ridge #0078ff;
  background : #0078ff;
  opacity: 1;
  width: 8px;
  height: 8px;
  border-radius: 100%;
}

.closehour_marker {
  border: 3px ridge #a0a0a0;
  background : #a0a0a0;
  opacity: 1;
  width: 8px;
  height: 8px;
  border-radius: 100%;
}

.infowindow_wrap {
  background: white;
  padding: 20px;
  box-sizing:border-box;
  border: 1px solid rgba(0,0,0,0.2);  
}

.infowindow_title {
  text-align: center;
  font-size: 12px;
  font-weight: normal;
}

.infowindow_content {
  font-size: 12px;
  font-weight: bold
}

.infowindow_openhour {
  font-size: 12px; 
  font-weight: normal;
}

.searchiw_wrap {
  background: white;
  padding: 15px;
  box-sizing:border-box;
  border: 1px solid rgba(0,0,0,0.2);  
}

.searchiw_title {
  text-align: center;
  font-size: 12px;
  font-weight: normal;
}

.searchiw_address {
  font-size: 12px;
  font-weight: normal;
}

.searchiw_url {
  font-size: 12px; 
  font-weight: normal;
}

.pulse {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 rgb(255, 0, 0);
  animation: pulse 1.7s infinite;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);
    -moz-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);
  }

  70% {
    box-shadow: 0 0 0 20px rgba(204, 49, 44, 0);
    -moz-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);         
  }

  100% {
    box-shadow: 0 0 0 0 rgba(204, 49, 44, 0);
    -moz-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);    
  }
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);
    -moz-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);
  }

  70% {
    box-shadow: 0 0 0 20px rgba(204, 49, 44, 0);
    -moz-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);         
  }

  100% {
    box-shadow: 0 0 0 0 rgba(204, 49, 44, 0);
    -moz-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);    
  }
}

#search {
  position: absolute;
  top: 60px;
  left: 140px;
  padding: 18px;
  z-index: 10000;
  background: white;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;
  text-align: center;
}

#search_input {
  border: none;
}

#search_input:focus{
  outline: none;
}

#select {
  position: absolute;
  top: 60px;
  left: 410px;
  padding: 8px;
  z-index: 10000;
  background: white;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;
  text-align: center;
}

.isopening {
  padding-top: 4px;
  /* font-weight: bolder; */
  display: inline-block;
}

.isopening_marker {
  /* padding: 4px; */
  border: 3px ridge #0078ff;
  background : #0078ff;
  opacity: 1;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  display: inline-block;
}

.iw_wrap {
  border:black;
}
